/.gradle
.idea
build
gradle
build.gradle
ECos.iml
/gradle.properties
gradlew
setting.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
#add by zyw
*.iml
.idea/*
